.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.auth-card {
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #43e97b;
  box-shadow: 0 0 5px rgba(67, 233, 123, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #007bff;
}

/* Footer */
.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}